<div class="container">

  <app-header></app-header>

  <app-search-bar></app-search-bar>

  <div class="row">
    <div class="col-md-6">
      <h1>Twitter</h1>
      <app-twitter></app-twitter>
    </div>
    <div class="col-md-6">
      <h1>Google News</h1>
      <app-google-news></app-google-news>
    </div>
  </div>

  <div class="row col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1>Chart</h1>
      <app-chart></app-chart>  
    </div>
    <div class="col-md-4"></div>
  </div>

</div>

<!-- <div class="row">
  <div class="column">
    <h1>Twitter</h1>
    <app-twitter></app-twitter>
  </div>
  <div class="column">
    <h1>Google News</h1>
    <app-google-news></app-google-news>
  </div>
</div> -->